<%- include("../global/header") %>
<%- include("member-navbar") %>

<div class="row">
    <div class="col-11 offset-1">
        <h2>Feedback</h2>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-1">
            <div class="card">
                <div class=" card-body">
                    <form>
                        <div class="mb-3">
                            <label for="title" class="form-label">Subject</label>
                            <input 
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                placeholder="Subject"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="catagory" class="form-label">Category</label>
                            <select 
                                class="form-select"
                                id="category"
                                name="category"
                                placeholder="Category"
                                required>

                            <option value="Bug">Bug</option>
                            <option value="Documentation">Documentation</option>
                            <option value="Feature Request">Feature Request</option>
                            <option value="Other">Other</option>
                            <option value="Question">Question</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Message</label>
                            <textarea class="form-control" id="description" name="description" rows="3" maxlength="1000"></textarea>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("../global/footer") %>