<div class="container">
    <div class="row">
      <div class="col-md-1 sidenav fixed-top">
        <ul
   
  class="nav flex-column">
  
          
  <li class="nav-item">      
    <a class="nav-link active" href="/members/dashboard">Dashboard</a>
  </li>
        
  <li class="nav-item">      
    <a class="nav-link" href="#">My Profile</a>
  </li>
          
  <li class="nav-item">      
    <a class="nav-link" href="/members/aircrafts/overview">Aircrafts</a>
  </li>
        
  <li class="nav-item">      
    <a class="nav-link" href="/auth/signout">Sign out</a>
  </li>
  
        
  </ul>
