

<footer class="bg-dark text-white py-4" style="position: sticky;
bottom: 0; width: 100%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Skyreach</h5>
          <p>Made with love for skydiving.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Further reading</h5>
          <ul class="list-unstyled">      
            <li><a href="#" class="footer-link">Privacy policy</a></li>
            <li><a href="#" class="footer-link">FAQ</a></li>       
            <li><a href="#" class="footer-link">Item 3</a></li>          
            <li><a href="#" class="footer-link">Item 4</a></li>   
          </ul>
        </div>
  
        
  <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Contact Us</h5>
          <p>Han far</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Newsletter</h5>
        </div>
      </div>
    </div>
  </footer>
    </body>
</html>