

<footer class="bg-dark text-white py-4" style="position: fixed;
bottom: 0; width: 100%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Skyreach</h5>
          <p>Made with love for skydiving.</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Products</h5>
          <ul class="list-unstyled">
  
            
  <li><a href="#">Product 1</a></li>
  <li><a href="#">Product 2</a></li>       
  <li><a href="#">Product 3</a></li>          
  <li><a href="#">Product 4</a></li>
  
          
  </ul>
  
        
  </div>
  
        
  <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Contact Us</h5>
          <p>123 Main Street<br />Anytown, CA 12345<br />(555) 555-5555</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-uppercase mb-4">Newsletter</h5>
          <form>
            <input type="email" placeholder="Enter your email address">
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
    </body>
</html>