<div class="card text-bg-light mb-3">
    <div class="card-header">Upload documents</div>
    <div class="card-body">
        <form action="/users/uploadToDocumentArchive" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <input type="file" class="form-control-file" name="file">
              <input type="submit" value="Upload" class="btn btn-default">            
            </div>
          </form>  
    </div>
</div>