<div class="card text-bg-light mb-3">
    <div class="card-header">Change Password</div>
    <div class="card-body">
        <form action="/users/password" method="POST">
            <div class="mb-3">
                <label for="currentPassword">Current Password:</label>
                <input type="password"
                    class="form-control"
                    id="currentPassword"
                    name="currentPassword"
                    required>
            </div>

            <div class="mb-3">
                <label for="newPassword">New Password:</label>
                <input type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    required>
            </div>
            
            <div class="mb-3">
                <label for="confirmNewPassword">Confirm New Password:</label>
                <input type="password"
                    class="form-control"
                    id="confirmNewPassword"
                    name="confirmNewPassword"
                    required>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>