<select class="form-select" aria-label="Select country" name="country">
    <% for (let country of countries) { %> 
    <option value="<%= country.isoCode %>"><%= country.name %></option>
    <% } %>
</select>