<div class="container">
    <div class="hero-content">
      <h1 class="hero-heading">Take your skydiving experience to the cloud</h1>
      <p class="hero-tagline">Sign up Skyreach, your online logbook</p>
      <a href="/signup" class="btn btn-primary btn-lg">Sign up!</a>
    </div>
  </div>