<section class="hero">
    <div class="into-text">
        <h1>
            <span class="take-it">Take your skydiving experience</span> <br />
            <span class="cloud">to the cloud</span>
        </h1>
    </div>
</section>