.sidebar {
    background-color: #00a4f3 !important;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1.9rem;
    max-width:90%;
    margin: 2rem auto -6rem;
    background-color: #1f8dd6;
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.take-it {

}

.cloud {

}

.footer-link {
    color: fff;
    text-decoration: none;
}

.footer-link :hover {
    color:  #007bff !important;
}

/* Stat cards */
.card-title {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    text-transform: uppercase;
    color: #8898aa;
    font-size: .8125rem;
  }
  .stat-number {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #32325d;
  }
  .icon {
    width: 3rem;
    height: 3rem;
    margin-top: -1.25rem;

  }
  .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important
  }
  .bg-success {
    background-color: #198754;
  }
  .fc-white {
    color: #fff;
  }
  .text-gray {
    color: #adb5bd;
  }
  .rounded-circle {
    border-radius: 50%;
  }
