<div class="col-sm-6 col-md-3 col-lg-3">
    <div class="card shadow">
      <div class="card-title">
        <strong>Freefall Time</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <span class="stat-number"><strong><%= stats.currentYearFreefallTime.toLocaleString('nb-NO', { minimumFractionDigits: 2, maximumFractionDigits: 2,}) %> hrs.</strong></span>
          </div>
          <div class="col-4">
            <div class="icon icon-shape bg-danger rounded-circle">
              <i class="fas fa-hand-point-down fc-white"></i>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <span class="text-gray"><small>Duration current year</small></span>
          </div>
        </div>
    </div>
  </div>
</div>