<div class="col-sm-6 col-md-3 col-lg-3">
    <div class="card shadow">
      <div class="card-title">
        <strong>Total Skydives</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <span class="stat-number"><strong><%= stats.totalSkydives.toLocaleString('nb-NO') %></strong></span>
          </div>
          <div class="col-4">
            <div class="icon icon-shape bg-primary rounded-circle">
              <i class="fas fa-paper-plane fc-white"></i>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <span class="text-gray"><small>Based on all registered skydives</small></span>
          </div>
        </div>
    </div>
  </div>
</div>